@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.header {
    background-color: var(--header-bg-color);

    @include abstracts.breakpoint(lg) {
        box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
    }
}

.top-bar {
    @extend %flexItemCenter;
    position: relative;
    padding: 30px 0;

    // Tablet
    @include abstracts.breakpoint(lg) {
        // khoảng cách trên dưới của header
        padding: 20px 0;
    }

    // Mobile
    @include abstracts.breakpoint(md) {
        justify-content: space-between;
        // khoảng cách trên dưới của header
        padding: 16px 0;
    }

    // Ẩn icon more trên pc
    &__more {
        display: none;

        // Tablet hiện icon more trên Tablet
        @include abstracts.breakpoint(lg) {
            display: block;
        }
    }
}

.navbar {
    margin-left: 129px;

    @include abstracts.breakpoint(xl) {
        margin-left: 28px;
    }

    // Tablet Ẩn navbar
    @include abstracts.breakpoint(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        z-index: 9;

        margin-left: 0;
        padding: 20px 0;
        background: #fff;

        translate: -100%;
        transition: translate 0.5s;

        &.show {
            translate: 0;
        }

        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    &__close-btn {
        display: none;

        @include abstracts.breakpoint(lg) {
            display: block;
            padding: 10px 40px;
        }
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;
        transition: visibility, opacity;
        transition-duration: 0.5s;

        // Hiển thị overlay trên tablet
        @include abstracts.breakpoint(lg) {
            position: fixed;
            inset: 0;
            z-index: 8;

            background: rgba($color: #00000000, $alpha: 0.4);
        }
    }

    &__list {
        @extend %flexItemCenter;

        @include abstracts.breakpoint(lg) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        // &:first-child a {
        //     padding-left: 0;
        // }

        // &:last-child a {
        //     padding-right: 0;
        // }

        &:hover .dropdown {
            opacity: 1;
            visibility: visible;
        }

        @include abstracts.breakpoint(lg) {
            &:hover .dropdown {
                opacity: 0;
                visibility: hidden;
            }

            width: 100%;
        }
    }

    &__link {
        @extend %flexItemCenter;
        gap: 6px;
        height: 50px;
        padding: 0 15px;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46;

        @include abstracts.breakpoint(lg) {
            justify-content: space-between;
            padding: 0 40px;

            font-size: 1.6rem;
            line-height: 1.5;
        }
    }

    &__arrow {
        margin-top: 3px;
    }
}

.top-act {
    @extend %flexItemCenter;
    gap: 20px;
    margin-left: auto;

    @include abstracts.breakpoint(md) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemCenter;

        min-width: 50px;
        min-height: 50px;

        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);

        // Mobile
        @include abstracts.breakpoint(md) {
            display: none;
        }
    }

    &__group--single {
        // Tablet Ẩn nút search
        @include abstracts.breakpoint(lg) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__btn {
        @extend %flexItemCenter;
        padding: 13px 20px;
        gap: 10px;
        cursor: pointer;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46;
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate);
    }

    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        cursor: pointer;
    }
}
